.confetti {
    display: none;
}
.confetti.left {
    position: absolute;
    left: 0;
    bottom: 0;
}
.confetti.right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.confetti.left::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 7px;
    animation: 2.5s explode ease-out 3 backwards, 2.5s gravity ease-in 3 backwards;
}
.confetti.right::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 7px;
    animation: 2.5s explode ease-out 3 backwards, 2.5s gravityRight ease-in 3 backwards;
}
@keyframes explode {
    from {
        opacity: 1;
    }
    to {
        box-shadow: 33px 28.6666666667px #244EA2, -186px -173.3333333333px #E21860, -52px -88.3333333333px #69B445, -192px -195.3333333333px #DC4133, -102px -60.3333333333px #FFC709, 101px -110.3333333333px #FFC709, 72px -38.3333333333px #FFC709, -90px -9.3333333333px #DC4133, 168px -31.3333333333px #DC4133, -135px -25.3333333333px #E21860, -4px -198.3333333333px #00B8AD, 37px -71.3333333333px #00B8AD, -46px -106.3333333333px #00B8AD, 18px -1.3333333333px #DC4133, -22px 23.6666666667px #E21860, 158px -77.3333333333px #FFC709, 46px 27.6666666667px #DC4133, -130px -65.3333333333px #00B8AD, -134px 1.6666666667px #DC4133, -22px -17.3333333333px #E21860, -73px -125.3333333333px #00B8AD, -20px -77.3333333333px #244EA2, 61px 24.6666666667px #E21860, 126px -120.3333333333px #E21860, -182px -126.3333333333px #69B445, -92px -37.3333333333px #FFC709, -22px -207.3333333333px #DC4133, -100px 36.6666666667px #244EA2, -10px -85.3333333333px #244EA2, -137px 20.6666666667px #69B445, 179px -12.3333333333px #244EA2, 145px -136.3333333333px #E21860, -161px -37.3333333333px #69B445, -37px -142.3333333333px #00B8AD, 1px -121.3333333333px #FFC709, -178px -112.3333333333px #E21860, -30px -180.3333333333px #FFC709, 6px 28.6666666667px #FFC709, 58px -205.3333333333px #DC4133, 55px -190.3333333333px #FFC709, 175px -96.3333333333px #00B8AD, 168px -70.3333333333px #FFC709, 120px -178.3333333333px #244EA2, 130px 30.6666666667px #FFC709, -164px -150.3333333333px #DC4133, -188px -204.3333333333px #DC4133, 78px 11.6666666667px #69B445, -127px 6.6666666667px #E21860, 121px -148.3333333333px #244EA2, -125px -9.3333333333px #244EA2, 172px -190.3333333333px #DC4133, 35px -156.3333333333px #DC4133, 25px -70.3333333333px #69B445, -22px -158.3333333333px #244EA2, 105px -107.3333333333px #00B8AD, -75px -62.3333333333px #244EA2, 120px -178.3333333333px #DC4133, -153px -180.3333333333px #244EA2, -106px -79.3333333333px #FFC709, 90px -6.3333333333px #00B8AD, 31px 31.6666666667px #FFC709, -153px -0.3333333333px #244EA2, 31px -139.3333333333px #244EA2, -38px -30.3333333333px #E21860, 23px -153.3333333333px #E21860, 67px 34.6666666667px #244EA2, 118px -93.3333333333px #69B445, -100px 5.6666666667px #E21860, -67px -111.3333333333px #DC4133, 135px -80.3333333333px #DC4133, -191px -186.3333333333px #E21860, 29px -120.3333333333px #69B445, 158px -146.3333333333px #E21860, -44px -163.3333333333px #69B445, 147px -45.3333333333px #244EA2, 11px -160.3333333333px #FFC709, 176px -119.3333333333px #00B8AD, 198px -178.3333333333px #FFC709, -175px 34.6666666667px #69B445, 72px -198.3333333333px #00B8AD, -86px 29.6666666667px #DC4133, -110px -159.3333333333px #DC4133, 0px -57.3333333333px #244EA2, 107px -162.3333333333px #69B445, 48px -75.3333333333px #FFC709, -54px -139.3333333333px #FFC709, -85px -163.3333333333px #DC4133, -28px -168.3333333333px #DC4133, 132px -204.3333333333px #244EA2, -51px 10.6666666667px #69B445, -65px -131.3333333333px #69B445, 183px -56.3333333333px #244EA2, -88px -143.3333333333px #244EA2, -121px -90.3333333333px #FFC709, -158px -46.3333333333px #69B445, -189px -52.3333333333px #E21860, 100px -123.3333333333px #E21860, -195px 29.6666666667px #DC4133, -136px -35.3333333333px #DC4133, 109px 41.6666666667px #69B445, 8px 29.6666666667px #FFC709, 199px -109.3333333333px #244EA2, 90px -66.3333333333px #FFC709, 162px -92.3333333333px #FFC709, 59px -28.3333333333px #E21860, -98px -104.3333333333px #DC4133, 192px -169.3333333333px #00B8AD, 87px -166.3333333333px #69B445, 95px -63.3333333333px #244EA2, 155px -109.3333333333px #FFC709, 117px -53.3333333333px #DC4133, -22px -95.3333333333px #FFC709, 101px 22.6666666667px #00B8AD, 163px -207.3333333333px #E21860, -123px 23.6666666667px #FFC709, -96px -98.3333333333px #69B445, 0px -190.3333333333px #244EA2, -131px -6.3333333333px #E21860, 30px -49.3333333333px #69B445, 160px 33.6666666667px #FFC709, 135px -131.3333333333px #DC4133;
    }
}
@keyframes gravity {
    from {
        opacity: 1;
    }
    to {
        transform: translate(150px, -150px);
        opacity: 0;
    }
}

@keyframes gravityRight {
    from {
        opacity: 1;
    }
    to {
        transform: translate(-150px, -150px);
        opacity: 0;
    }
}

.reward_snackbar {
    position: relative;
    background: #f36633;
    width: calc(100% - 32px);
    margin: 0 16px;
    height: 0;
    opacity: 0;
    will-change: height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@keyframes animateHeight {
    0% {
        height: 0;
        overflow: hidden;
    }
    10% {
        height: 0;
        overflow: hidden;
    }
    30% {
        height: 18px;
        overflow: auto;
    }
    50% {
        height: 18px;
        overflow: auto;
    }
    70% {
        height: 18px;
        overflow: auto;
    }
    80% {
        height: 18px;
        overflow: auto;
    }
    90% {
        height: 0;
        overflow: hidden;
    }
    100% {
        height: 0;
        overflow: hidden;
    }
}

.reward_snackbar.active {
    opacity: 1;
    overflow: hidden;
    animation: animateHeight 4.5s ease-out, opacity 1.2s ease-out;
}

.reward_snackbar::before {
    content: "Discount Received";
    display: none;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: white;
}
.reward_snackbar.active::before {
    display: block;
}

.brandprogresscontainer {
    position: relative;
}

.brandprogresscontainer.skulevel .reward_snackbar {
    margin-top: -16px;
}
.confettibgContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: -webkit-fill-available;
    width: calc(100% - 32px);
    overflow: hidden;
}

.confettibgWrapper {
    position: relative;
    height: -webkit-fill-available;
}
