.checkoutpage {
    padding-top: 4px;
    height: calc(88% - 4px);
    overflow-y: auto;
    overflow-x: hidden;
}

.checkoutpage + .btn_wrapper {
    height: 12%;
}

.checkoutpage .menu_header.heading_block {
    margin-bottom: -10px;
}

.checkoutpage .menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.checkoutpage .menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkoutpage .menu_header .label,
.checkoutpage .category_label {
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: #f36633;
}

.checkoutpage .category_label {
    margin-bottom: -0.5rem;
    font-weight: 700;
}

.checkoutpage .menu_header .label .back-arrow {
    transform: rotate(180deg);
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    font-weight: 700;
    cursor: pointer;
}

.checkoutpage .menu_header .icon {
    height: 30px;
    width: 30px;
    position: relative;
    margin-top: 0px;
}

.checkoutpage .menu_header .icon.view_checkout {
    margin-top: 16px;
}

.checkoutpage .menu_header .icon.goToBrandLevel {
    margin-top: 8px;
}

.checkoutpage .menu_header .icon img {
    scale: 1.05;
    transition: scale 0.25s ease-in;
}
.checkoutpage .menu_header .icon img:hover {
    scale: 1.25;
}

.checkoutpage .menu_header .icon .count_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background: #f36633;
    color: #fde0d6;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -8px;
    height: 30px;
    width: 30px;
}

.checkoutpage .sub_detail {
    font-size: 11px;
    line-height: 20px;
    color: #151515;
    padding: 0 16px;
    margin-top: 2px;
    white-space: nowrap;
}

.checkoutpage .sub_detail strong {
    color: #ff7900;
}

.checkoutpage .sub_detail_wrapper {
    display: flex;
    justify-content: space-between;
}

.checkoutpage .sub_detail_wrapper div:first-child {
    align-self: flex-start;
}

.checkoutpage .sub_detail_wrapper div:last-child {
    align-self: flex-end;
    white-space: normal;
}

.checkoutpage .menu_header .sub_detail span {
    margin: 0 20px;
}

.checkoutpage .date-picker-value.date_order,
.checkoutpage .date-picker-value.date_order + .flex.title {
    margin-bottom: 3px;
}


.flex.title.label {
    display: none;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkout_item_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.checkout_item_container .checkout_item_name {
    width: 40%;
}

.checkout_item_container .checkout_item_name .item_name_text + .checkout_edit_icon {
    display: none;
}

.checkout_item_container .checkout_item_name .item_name_text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #151515;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkout_item_container .checkout_item_name.inverted .item_name_text {
    color: #959595;
}

.checkout_item_container .checkout_item_name.title {
    color: #f26633;
    padding: 0px 2px 6px 2px;
    align-self: flex-start;
    text-transform: capitalize;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkout_item_container .checkout_item_details {
    display: flex;
    align-items: center;
    width: calc(60% - 10px);
    margin-left: 10px;
}

.checkout_item_container .checkout_item_details .item_data_wrapper_row {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 16px);
    border-radius: 0.5px;
    padding: 0 !important;
}

.checkout_item_container .checkout_item_details .item_data_wrapper_row.title .item_data {
    color: #f26633;
    font-weight: 700;
}

.checkout_item_container .checkout_item_details.inverted .item_data_wrapper_row .item_data {
    color: #959595;
}

.checkout_item_container .checkout_item_details .item_data_wrapper_row .item_data {
    vertical-align: top;
    padding: 6px 2px 6px 2px;
    width: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: inherit;
    text-transform: capitalize;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkout_item_container .checkout_edit_icon,
.checkout_item_container .checkout_edit_icon .arrow.edit.quantityEditBackToSelection {
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: scale 0.2s ease-in;
    animation: textfocus 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.checkout_item_container .checkout_edit_icon .arrow.edit.quantityEditBackToSelection:hover {
    scale: 1.2;
}

.checkout_item_container .checkout_edit_icon .arrow.edit.quantityEditBackToSelection img {
    pointer-events: none;
    animation: unset;
}

@media (max-width: 600px) {
    .flex.title.label {
        display: block;
    }

    .checkout_item_container {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkout_item_container .checkout_item_name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 6px 0 0px 0;
    }

    .checkout_item_container.thead .checkout_item_name.title {
        display: none;
    }

    .checkout_item_container .checkout_item_name .item_name_text {
        font-weight: 700;
        font-size: 16px;
        line-height: unset;
    }

    .checkout_item_container .checkout_item_name .item_name_text + .checkout_edit_icon {
        display: block;
    }

    .checkout_item_container .checkout_item_details {
        width: 100%;
        margin-left: 0;
    }

    .checkout_item_container .checkout_item_details .item_data_wrapper_row.title {
        border-bottom: unset;
    }

    .checkout_item_container .checkout_item_details .item_data_wrapper_row {
        align-items: flex-start;
        border-bottom: 0.5px solid #e6e6e6;
        width: 100%;
    }

    .checkout_item_container .checkout_item_details .item_data_wrapper_row + .checkout_edit_icon {
        display: none;
    }

    .checkout_item_container .checkout_item_details .item_data_wrapper_row .item_data {
        padding: 0px 16px 6px 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .checkout_item_container .checkout_item_details .item_data_wrapper_row .item_data:first-child {
        padding: 0px 0 6px 0;
    }
}
