@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bouncein {
    0% {
        opacity: 0;
        transform: translate3d(10px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes zoomup {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-6px);
        transform-origin: 50% 50%;
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        transform-origin: center;
    }
}

@keyframes textfocus {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes slideTopBlur {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
