header {
    height: 12%;
}

header + main {
    height: calc(76% - 12%);
}

header.user + main {
    height: calc(100% - 12% - 3%);
}

header.hide + main {
    height: 76%;
}

header.hide.tnc + main {
    height: calc(100% - 3%);
}

header.user + main + footer .legal_tnc,
header.hide.tnc + main + footer .legal_tnc {
    height: 0%;
    display: none;
}

header.hide.tnc + main + footer .copyright {
    height: 3%;
}

footer {
    height: 100%;
}

footer .legal_tnc {
    height: 21%;
}

footer .copyright {
    height: 3%;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    white-space: pre-wrap;
    position: absolute;
    height: max-content;
    z-index: 9999;
    color: #fff;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    animation: bouncein 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

[data-tooltip-pos="top"]:hover::after {
    top: 0px;
}

[data-tooltip-pos="right"]:hover::after {
    right: 0px;
    bottom: -6vh;
}

[data-tooltip-pos="bottom"]:hover::after {
    bottom: 0px;
}

[data-tooltip-pos="left"]:hover::after {
    left: 0px;
    bottom: -6vh;
}